# Agent Runtime
AGENTS.md
.workbuddy/

# data file
raw/
release*/

# api runtime data
api/data/

# build output
pages/dist/

# Scripts
.input/
.output/
__pycache__/

# temp
temp/
.agent/
.agents/

# catalog not upload from local PC (developer's)
catalog/
